<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Tweet Profile</h1>
    <div>
        <img src="{{content["profile_image_url"]}}"></img>
    </div>
    <div>
        <ul>
            <li>id: {{content["id"]}}</li>
            <li>username: {{content["username"]}}</li>
            <li>name: {{content["name"]}}</li>
        </ul>
    </div>
</body>
</html>